<footer>
    <div class="footer">
        <div class="footer-col footer-pages">
            <h1>Pages</h1>
            <ul>
                {{#if @blog.navigation}}
                    {{navigation}}
                {{/if}}
            </ul>
        </div>

        <div class="footer-col footer-socials">
            <h1>Follow Me</h1>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Blog Posts</li>
                <li>Contact</li>
            </ul>
        </div>

        <div class="footer-col footer-contact">
            <h1>Contact Me</h1>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Blog Posts</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <span>Developed by Walker Frederick | copyright 2019</span>
    </div>
</footer>